@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(31, 39, 50);
  --font-color: rgb(255, 255, 255);
  --font-accent: rgb(209, 176, 107);
}

html,
body {
  background: var(--bg-color);
  color: var(--font-color);
  height: 100%;
}

@layer base {
  h1 {
    @apply font-serif text-5xl font-semibold md:text-7xl;
  }

  article p {
    @apply mb-5 text-xl leading-relaxed tracking-wide;
  }

  article h2 {
    @apply mb-4 mt-10 font-serif text-4xl font-bold text-gold;
  }
}

.bg-diffuse-blue {
  @apply bg-gradient-to-b from-primary/90 via-primary/90 to-primary/40 lg:bg-gradient-to-r;
}

.contact-form lable {
  @apply mb-2 block text-lg font-medium text-gray-800;
}

.contact-form input {
  @apply w-full rounded border border-primary/40 bg-gray-100 p-2 text-lg text-gray-900 placeholder:text-gray-400 focus:placeholder:text-gray-200;
}

.contact-form textarea {
  @apply min-h-40 w-full rounded border border-primary/40 bg-gray-100 p-2 text-lg text-gray-900 placeholder:text-gray-400 focus:placeholder:text-gray-200;
}

.contact-form button[type='submit'] {
  @apply mb-4 w-full rounded-lg bg-primary/95 p-4 text-xl text-white disabled:bg-gray-300 disabled:text-gray-200;
}

.error-message {
  @apply rounded border border-red-400 bg-red-100 px-4 py-3 text-red-700;
}

.success-message {
  @apply rounded border border-green-400 bg-green-100 px-4 py-3 text-green-700;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --bg-color: 0,0,0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--bg-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
