@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(31, 39, 50);
  --font-color: rgb(255, 255, 255);
  --font-accent: rgb(209, 176, 107);
}

html,
body {
  background: var(--bg-color);
  color: var(--font-color);
}

@layer base {
  h1 {
    @apply font-serif text-5xl font-semibold md:text-7xl;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --bg-color: 0,0,0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--bg-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
